html {
    background-color: rgb(239, 230, 217);

}
h1 { 
    color: rgb(4, 4, 129);
}   

h2 {
    color: rgb(203, 97, 97);

}

h4 {

    color: rgb(63, 1, 1)
}
a {
color:rgb(124, 2, 7);

}

button {

    color:brown
}




